* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: rgb(34, 20, 3);
    padding: 80px 0;

}

.titulo {
    color: white;
    text-align: center;
    font-size: 250%;
    font-family: arial;



}

.subtitulo {
    font-size: 60%;
    text-align: center;
    color: #999;

}

.navegacao ul {
    margin-top: 60px;
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: center;
}

.navegacao ul li a {

    color: white;
    text-decoration: none;
    border: 10px;
    padding: 10px;
    transition: 0.3s;

}

.navegacao a:hover {
    background-color: rgb(175, 55, 79);
    padding: 10px;

}

.bem-vindo {
    background-color: rgb(2034, 96, 59);
    padding: 80px;
    text-align: center;


}

.texto-welcome {
    color: black;
    margin: auto 100px;




}

.texto-welcome h2 {
    margin-bottom: 50px;
}

.texto-welcome p {
    font-size: 80%;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;

}

.menu {
    margin-top: 50px;

}

.menu-superior {
    display: flex;
    gap: 40px;
    margin: 50px 10%;
    justify-content: center;
}

.menu-superior div {
    text-align: center;
}
.menu-superior-itens{
    max-width: 280px;
}

.menu-superior h3 {
    margin-top: 50px;
    text-transform: uppercase;

    text-align: center;
    margin-bottom: 20px;
}

.menu-superior img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

}

.menu-superior p {
    
    text-align: center;
}

.menu-superior a {

    color: white;
    text-decoration: none;
    margin: 20px auto 0;
    border: none;
    padding: 10px 30px;
    transition: 0.3s;
    display: table;
    text-align: center;
    background-color: rgb(175, 55, 79);

}

.menu-superior a:hover {
    background-color: rgb(200, 65, 95);
}

.menu h2 {
    text-align: center;

    font-weight: bold;
    margin: 70px 0 5px 0;
}

.menu>p {
    text-align: center;
    
    color: #888;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;

}


.menu-inferior ul {
    display: flex;
    list-style: none;
    


}

.menu-inferior {
    margin-bottom: 50px;
}

.menu-inferior ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 20px;
    
}

.menu-inferior ul h3 {
    font-size: medium;
    color: #666;
    margin: 5px;
}

.menu-inferior ul p {
    padding: 10px;
    font-size: small;
    color: rgb(7, 7, 7, 0.5);
    max-width: 280px;
}

.menu-inferior ul a {
    margin-top: 10px;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    transition: 0.3s;
    background-color: rgb(175, 55, 79);
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 300;
    letter-spacing: 1px;





}

.menu-inferior a:hover {
    background-color: rgb(200, 65, 95);
}

.rodape {
    background-color: rgb(34, 20, 3);
    padding: 60px;
}

.rodape ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 50px;
}

.rodape ul img {
    width: 30px;
    height: auto;

}

.rodape ul li {
    margin: auto 10px;
}

.rodape h4 {
    font-size: 13px;
    color: #777;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 50px;
}

.rodape p {
    font-size: 10px;
    color: #777;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

}

.rodape b {
    color: white;
}


